

<nav class="navbar navbar-dark bg-info">
    <a class="navbar-brand" href="#">Dashboard</a>
    //dashboard page
    <span class="navbar-text">
      Welcome <%= user.name %>
    </span>
    
    
     <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
         <a href="/users/logout">Logout</a>
     </button>
    
</nav>
