<!DOCTYPE html>
<html>
<head>
	<title>About Kirdaar</title>
	<link rel="stylesheet" type="text/css" href="kirdaar2.css">
	<link href="https://fonts.googleapis.com/css?family=Caveat|Pacifico" rel="stylesheet">
	<style>
		#about{
	/*font-family: 'Pacifico', cursive;*/
	font-family: 'Caveat', cursive;
	font-weight: 600px;
	font-size: 5rem;
}
#d1{
	padding: 5px;
	border-bottom: 1px solid #bdc3c7;
	margin: 5px;
}
body{
	border: 20px solid #bdc3c7;
	width: 80%;
	max-width: 1000px;
	padding: 20px;
	margin: 20px auto;
	border-color: #4c1b0b;
}
	</style>
</head>
<body>
<div id="d1">
	<span id="about">ABOUT US</span>
	<img src="kirdaar.jpg">
	<p id="p1">We are a team of dedicated members which are determined to promote drama education in the college. The aim of Kirdaar is to introduce the students to interesting stories, characters and texts in an imaginative way. Moreover, the club aims to teach students how to appreciate dramatic literature and its techniques, and also help students to attain a better mastery of language.
	</p>
</div>
</body>
</html>