<!DOCTYPE html>
<html>
<head>
	<title>About malang</title>
	<link rel="stylesheet" type="text/css" href="kirdaar2.css">
	<link href="https://fonts.googleapis.com/css?family=Caveat|Pacifico" rel="stylesheet">
	<style>
		#about{
	/*font-family: 'Pacifico', cursive;*/
	font-family: 'Caveat', cursive;
	font-weight: 600px;
	font-size: 5rem;
}
#d1{
	padding: 5px;
	border-bottom: 1px solid #bdc3c7;
	margin: 5px;
}
body{
	border: 20px solid #bdc3c7;
	width: 80%;
	max-width: 1000px;
	padding: 20px;
	margin: 20px auto;
	border-color: #4c1b0b;
}
	</style>
</head>
<body>
<div id="d1">
	<span id="about">ABOUT US</span>
	<p id="p1">The aim of Malang is to encourage students about their dance performances and to let everybody know about the dancing spirit, to enhance extra-curricular activity,also to develop career in dancing profession those who have passion for dance.
	</p>
</div>
</body>
</html>